.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

::-webkit-scrollbar{
  width: 25px;
}
::-webkit-scrollbar-track{
  width: 57px;
  height: 1024px;
  background: linear-gradient(180deg, #B2BAFD 0%, rgba(255, 255, 255, 0.21) 23.44%, #C5D5FF 47.92%, rgba(255, 255, 255, 0.21) 75.52%, #C5D5FF 100%);
  border: 1px solid #3B0DF1;
  box-sizing: border-box;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(180deg, #D0FFDB 0%, #86959D 100%);
  border: 1px solid #2C1275;
  box-sizing: border-box;
  box-shadow: 15px 15px 4px rgba(0, 0, 0, 0.25);

  
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

