*{
    margin: 0;
    padding: 0;
}

.calculator{
    position: absolute;
 width: 450px;
 height: 580px;
 left: 194px;
 top: 50px;
 
 background: linear-gradient(180deg, #1854EF 25%, #C5D5FF 50.52%, #1B5AFB 75.08%);
 border: 1px solid #2C1275;
 box-sizing: border-box;
 border-radius: 46px;
 }
 
 
 .CheckDelete{
    position: relative;
    background: #EC3232;
 
    border-color: grey;
 
    border-radius: 5px;
    width: 130px;
    height: 50px;
    display: grid;
    top: 120px;
    left: 21px;
    font-size: 18px;
    font-family: Rockwell;
    font-style: normal;
    font-weight: normal;
    line-height: 40px;
 
 }
 
 .CorrectDelete{
    position: relative;
    background: #EC3232;
 
    border-color: grey;
    text-align: center;
    border-radius: 5px;
    width: 140px;
    height: 50px;
    display: grid;
    top: 70px;
    left: 163px;
    font-size: 18px;
    font-family: Rockwell;
    font-style: normal;
    font-weight: normal;
    line-height: 40px;
 
 }
 
 .AutoReplay{
    position: relative;
    background: #0DFF16;
 
 
    border-color: grey;
    text-align: center;
    border-radius: 5px;
    width: 110px;
    height: 50px;
    display: grid;
    top: 20px;
    left: 315px;
    font-size: 18px;
    font-family: Rockwell;
    font-style: normal;
    font-weight: normal;
    line-height: 40px;
    }
 
 .calculatorbuttons{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
 
 }
 
 .calc-button  {
   background: #FFFFFF; 
   border: 2.5px solid #7A9BAE; 
   padding: 25px;
   color: #000000; 
   border-radius: 5px; 
   font-size: 22px; 
   cursor: pointer; 
   grid-gap: 5px;
 }
 
 
 .calc-button2{
   background: #EC3232;
   border: 3px solid #7A9BAE;
   padding: 25px;
   color: #000000; 
   border-radius: 5px; 
   font-size: 22px; 
   cursor: pointer; 
   grid-gap: 5px;
 }
 
 