/* 
Calculator background
*/
.Calculator{
    position: fixed;
    width: 30%;
    height: 60%;
    left: 35%;
    top: 15%;
    bottom: 15%;
    background: linear-gradient(180deg, #1854EF 25%, #C5D5FF 50.52%, #1B5AFB 75.08%);
    border: 1px solid #8a72cc;
    box-sizing: border-box;
    border-radius: 30px;
    }

.Calculator[data-size="1"] {
    left: 15%;

}
