

body
{
  background-image: url("background.png");
 
  }

  
.App{
  text-align: center;
  background-image: url(./iPhone\ SE\ -\ 2.png);
  height: 550px;
  width: 386px;
  margin: 50px auto;
  border: #000000;
  
}

 
button{
  width: 180px;
  height: 45px;
  border-radius: 10px;
  cursor: pointer;
  font-family: Rockwell;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  background: linear-gradient(180deg, #D0FFDB 0%, #86959D 100%);
  mix-blend-mode: normal;
  border: #C5D5FF;
  box-sizing: border-box;
  box-shadow: 15px 15px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  bottom: 75px;
  right: 600px;
} 
