
.calculator{
  position: absolute;
  width: 450px;
  height: 580px;
  left: 194px;
  top: 50px;
  
  background: linear-gradient(180deg, #1854EF 25%, #C5D5FF 50.52%, #1B5AFB 75.08%);
  border: 1px solid #2C1275;
  box-sizing: border-box;
  border-radius: 46px;
  }